include ../datepicker-block/datepicker-block
include ../dropdown/dropdown
include ../button-with-arrow/button-with-arrow

mixin apartments-finder
    .apartments-finder
        form(action="changeme", method="post")
            h1.apartments-finder__title= "Найдём номера под ваши пожелания"
            .apartments-finder__datepicker
                +datepicker-block("прибытие", "выезд")(type = "two fields")
            .apartments-finder__dropdown
                +dropdown({ title: "гости", placeholder: "Сколько гостей", items: ["ВЗРОСЛЫЕ", "ДЕТИ", "МЛАДЕНЦЫ"] })(shadow = "none")
            button(type="submit").apartments-finder__button-with-arrow
                +button-with-arrow("подобрать номер")