mixin apartments-finder
    .apartments-finder   
        form(action="changeme", method="post")
            h1.apartments-finder__title= "Найдем номера под ваши пожелания"
            +datepicker-2f("прибытие", "выезд")
            .apartments-finder__dropdown
                +dropdown("гости", "Сколько гостей", "ВЗРОСЛЫЕ", "ДЕТИ", "МЛАДЕНЦЫ")
            button(type="submit").apartments-finder__button-with-arrow
                +button-with-arrow("подобрать номер")