.apartments-finder {
	width: 380px;
	padding: 40px 30px 30px 30px;
	background: white;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	$root: &;

	@media (max-width: 385px) {
		width: 320px;
		padding: 20px 10px;

		.datepicker {
			width: 300px;
		}

		.datepicker--content {
			padding: 5px 10px 0;
		}
	}

	&__title {
		margin-bottom: 20px;
		width: 100%;
		font-size: 24px;
		line-height: 30px;
		font-weight: bold;
		letter-spacing: -0.5px;
		color: $dark100;
	}

	&__dropdown {
		margin-top: 21px;
	}

	&__button-with-arrow {
		border: 0;
		background: 0;
		margin-top: 24px;
		width: 100%;
	}
}



