.room-details {
  max-width: 1440px;
  margin: 0 auto;
  color: $dark75;

  &__fotos {
    display: flex;
    margin-bottom: 71px;
  }

  &__fotos-left {
    max-height: 485px;
  }

  &__fotos-left-img {
    max-width: 100%;
  }

  &__fotos-right {
    max-height: 485px;
    display: flex;
    flex-direction: column;
  }

  &__fotos-right-img {
    max-width: 100%;
  }

  &__info {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1160px) {
      flex-direction: column;
    }
  }

  &__info-left {
    max-width: 715px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px 0 140px;

    @media (max-width: 1400px) {
      margin: 0 20px;
    }

    @media (max-width: 1160px) {
      margin: 0 auto;
      padding: 0 20px;
    }

    @media (max-width: 750px) {
      flex-direction: column;
    }

    @media (max-width: 385px) {
      width: 300px;
      padding: 0 10px;
    }
  }

  &__info-apartment {
    width: 280px;

    @media (max-width: 750px) {
      margin: 0 auto;
    }
  }

  &__pie-chart {
    width: 315px;
    margin-right: 39px;

    @media (max-width: 750px) {
      margin: 0 auto;
    }

    @media (max-width: 385px) {
      width: 300px;
    }
  }

  &__pie-chart-title {
    margin: 0 0 15px 5px;
  }

  &__pie-chart-graph {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__pie-chart-graph-legend {
    margin-bottom: 3px;
  }

  &__reviews-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 0 17px 5px;
  }

  &__reviews-counter {
    color: $dark50;

    @media (max-width: 450px) {
      display: none;
    }
  }

  &__additional {
    max-width: 710px;
    margin: 13px 0 68px 0;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 750px) {
      flex-direction: column;
      margin: 13px auto;
    }
  }

  &__rules {
    width: 260px;

    @media (max-width: 750px) {
      margin: 0 auto;
    }
  }

  &__rules-title {
    margin: 0 0 11px 19px;

    @media (max-width: 750px) {
      text-align: center;
      margin: 10px auto;
    }
  }

  &__rules-ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  &__rules-ul-li {
    display: flex;
    margin: 5px 0;
  }

  &__rules-ul-li::before {
    flex-shrink: 0;
    display: inline-block;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $dark25;
    margin: 7px 10px 0 0;
  }

  &__cancel {
    width: 340px;
    margin-left: 101px;

    @media (max-width: 750px) {
      margin: 0 auto;
    }

    @media (max-width: 385px) {
      width: 300px;
    }
  }

  &__cancel-title {
    margin-bottom: 16px;

    @media (max-width: 750px) {
      text-align: center;
      margin: 10px auto;
    }
  }

  &__info-right {
    margin-right: 140px;

    @media (max-width: 1400px) {
      margin: 0 20px;
    }

    @media (max-width: 1160px) {
      margin: 0 auto;
    }
  }

  &__reviews {
    @media (max-width: 385px) {
      width: 300px;
      margin: 0 auto;
    }
  }
}
