.room-details {
  margin: 0 auto;
  color: $dark75;

  &__fotos {
    display: flex;
    margin-bottom: 71px;
  }

  &__fotos-left {
    flex-grow: 2.13;
    height: 485px;
    background: center / cover no-repeat  url("./images/room-888a.jpg");
  }

  &__fotos-right-img1 {
    height: 50%;
    background: center / cover no-repeat  url("./images/room-888b.jpg");
  }

  &__fotos-right-img2 {
    height: 50%;
    background: center / cover no-repeat  url("./images/room-888c.jpg");
  }

  &__fotos-right {
    flex-grow: 1;
    height: 485px;
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1160px) {
      flex-direction: column;
    }
  }

  &__info-left-column {
    max-width: 712px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px 0 137px;

    @media (max-width: 1400px) {
      margin: 0 20px;
    }

    @media (max-width: 1160px) {
      margin: 0 auto;
      padding: 0 20px;
    }

    @media (max-width: 750px) {
      flex-direction: column;
    }

    @media (max-width: 385px) {
      width: 300px;
      padding: 0 10px;
    }
  }

  &__info-apartment {
    width: 280px;
    margin-left: 3px;

    @media (max-width: 750px) {
      margin: 0 auto;
    }
  }

  &__header {
    font-size: 19px;
    line-height: 23px;
    font-weight: bold;
    letter-spacing: -0.39px;
  }

  &__pie-chart {
    width: 315px;
    margin-right: 38px;

    @media (max-width: 750px) {
      margin: 0 auto;
    }

    @media (max-width: 385px) {
      width: 300px;
    }
  }

  &__pie-chart-title {
    margin: 0 0 17px 5px;
  }

  &__pie-chart-graph {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__pie-chart-legend {
    margin-bottom: 4px;
  }

  &__reviews {
    @media (max-width: 385px) {
      width: 300px;
      margin: 0 auto;
    }
  }

  &__reviews-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 0 16px 2px;
  }

  &__reviews-counter {
    color: $dark50;
    padding-top: 2px;

    @media (max-width: 450px) {
      display: none;
    }
  }

  &__additional {
    max-width: 712px;
    margin: 13px 0 67px 3px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 750px) {
      flex-direction: column;
      margin: 13px auto;
    }
  }

  &__rules {
    width: 260px;
    margin-right: 101px;

    @media (max-width: 750px) {
      margin: 0 auto;
    }
  }

  &__rules-title {
    margin: 0 0 12px 19px;

    @media (max-width: 750px) {
      text-align: center;
      margin: 10px auto;
    }
  }

  &__rules-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  &__rules-list-item {
    display: flex;
    margin: 5px 0;
  }

  &__rules-list-item::before {
    flex-shrink: 0;
    display: inline-block;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $dark25;
    margin: 7px 10px 0 0;
  }

  &__cancel {
    width: 340px;

    @media (max-width: 750px) {
      margin: 0 auto;
    }

    @media (max-width: 385px) {
      width: 300px;
    }
  }

  &__cancel-title {
    margin-bottom: 17px;

    @media (max-width: 750px) {
      text-align: center;
      margin: 10px auto;
    }
  }

  &__info-right-column {
    margin-right: 140px;
    display: flex;

    @media (max-width: 1400px) {
      margin: 0 20px;
    }

    @media (max-width: 1160px) {
      justify-content: center;
      margin: 0 auto;
    }
  }
}
