.content-room-details {
  max-width: 1440px;
  margin: 0 auto;
  color: $dark75;
}

.room-details__fotos {    
  display: flex;
  margin-bottom: 71px;
}
.room-details__fotos-left {
  max-height: 485px;
}
.room-details__fotos-left img {
  max-width: 100%;
}
.room-details__fotos-right {
  max-height: 485px;
  display: flex;
  flex-direction: column;
}
.room-details__fotos-right img {
  max-width: 100%;
}

//--------INFO---------------- 
.room-details__info {        
  display: flex;
  justify-content: space-between;
  @media (max-width: 1160px) {
    flex-direction: column;
  }
}
//--------LEFT-COL--------------------   

.room-details__info-left {
  max-width: 710px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px 0 140px;
  @media (max-width: 1400px) {
    margin: 0 20px;
  }
  @media (max-width: 1160px) {
    margin: 0 auto;
    padding: 0 20px;
  }
  @media (max-width: 750px) {
    flex-direction: column;
  }
  @media (max-width: 385px) {
    width: 300px;
    padding: 0 10px;
  }
}
//--------INFO-APARTMENT--------------------        
.room-details__info-apartment {
  width: 280px;
  @media (max-width: 750px) {
    margin: 0 auto;
  }
}

//--------PIE_CHART--------------------    
.room-details__pie-chart {
  width: 315px;
  margin-right: 39px;
  @media (max-width: 750px) {
    margin: 0 auto;
  }
  @media (max-width: 385px) {
    width: 300px;
  }
}
.room-details__pie-chart-graph {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;    
}
.room-details__pie-chart-graph-legend {
  margin-bottom: 3px;
}
.room-details__pie-chart h2 {
  margin: 0 0 15px 5px;
}

//--------REVIEWS--------------------
.room-details__reviews__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px 0 17px 5px;
}
.room-details__reviews__title span {
  color: $dark50;
  @media (max-width: 450px) {
    display: none;
  }
}

//--------ADDITIONAL--------------------
.room-details__additional {
  max-width: 710px;
  margin: 13px 0 68px 0;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 750px) {
    flex-direction: column;
    margin: 13px auto;
  }
}
        

//--------RULES--------------------
.room-details__rules {
  width: 260px;
  @media (max-width: 750px) {
    margin: 0 auto;
  }
}
.room-details__rules h2 {
  margin: 0 0 11px 19px;
  @media (max-width: 750px) {
    text-align: center;
    margin: 10px auto;
  }
}            
.room-details__rules ul {                           
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.room-details__rules ul li {
  display: flex;
  margin: 5px 0;
}
.room-details__rules li::before {
  flex-shrink: 0;
  display: inline-block;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $dark25;
  margin: 7px 10px 0 0;
}

//--------CANCEL--------------------
.room-details__cancel {
  width: 340px;
  margin-left: 101px;
  @media (max-width: 750px) {
    margin: 0 auto;
  }
  @media (max-width: 385px) {
    width: 300px;
  }
}
.room-details__cancel h2 {
  margin-bottom: 16px;
  @media (max-width: 750px) {
    text-align: center;
    margin: 10px auto;
  }
}

.room-details__info-right {
  margin-right: 140px;
  @media (max-width: 1400px) {
    margin: 0 20px;
  }
  @media (max-width: 1160px) {
    margin: 0 auto;
  }
}

//------------------------------
//---------------MEDIA----------
//------------------------------

@media (max-width: 385px) {
  .room-details__reviews {
    width: 300px;
    margin: 0 auto;
  }
}
