.ui-form {
  margin: 138px 0 140px 0;
  display: grid;
  justify-content: center;
  grid-template-areas:  "a b c"
                        "a d d";

  @media(max-width: 1200px) {
    grid-template-areas:  "a"
                          "b"
                          "c"
                          "d";
    justify-items: center;
  }

  &__left-col {
    margin-top: 4px;
    width: 320px;
    grid-area: a;

    @media(max-width: 1200px) {
      margin: 30px auto;
    }
  }

  &__text-field {
    margin-bottom: 20px;

    &_margin_small {
      margin-bottom: 22px;
    }

    &_margin_medium {
      margin: 0 0 40px 0;
    }
  }

  &__input {
		height: 44px;
		width: 100%;
    padding: 0 7px 3px 13px;
		border-radius: 4px;
		border: 1px solid $dark25;
		color: $dark75;
		cursor: pointer;
    font: 14px/14px Montserrat;
    letter-spacing: -0.15px;

		&:hover, &:focus {
			border-color: $dark50;
		}

		&::placeholder {
      color: $dark25;
      letter-spacing: 0;
    }

    &_hover {
      border-color: $dark50
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6px;
  }

  &__header {
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark100;

    &_color_grey {
      color: $dark50;
      font-weight: normal;
      letter-spacing: -0.15px;
    }

    &_margin_enlarged {
      padding-bottom: 3px;
    }
  }

  &__dropdown-guests {
    margin-bottom: 22px;
  }

  &__datepicker-2f {
    margin-bottom: 41px;
  }

  &__narrow-block {
    margin-left: -1px;  //Только чтобы с макетом совпадало
    width: 266px;
  }

  &__datepicker-1f {
    margin-bottom: 43px;
  }

  &__email {
    margin-bottom: 100px;
  }

  &__dropdown-beds {
    margin-bottom: 20px;

    &_margin_enlarged {
      margin-bottom: 51px;
    }
  }

  &__expandable-checkboxes {
    margin-bottom: 14px;
    &_collapsed {
      margin-bottom: 39px;
    }
  }

  &__middle-col {
    margin: 7px 0 0 126px;
    width: 320px;
    grid-area: b;

    @media(max-width: 1200px) {
      margin: 30px auto;
    }
  }

  &__checkbox-buttons {
    margin-bottom: 39px;
  }

  &__checkbox-buttons-title {
    margin-bottom: 13px;
  }

  &__radio-buttons-block {
    margin-bottom: 41px;
  }

  &__radio-buttons {
    margin-top: 14px;
    display: flex;
  }

  &__radio-button {
    margin-right: 20px;
  }

  &__toggle-buttons {
    margin-bottom: 45px;
  }

  &__toggle-buttons-title {
    margin-bottom: 15px;
    letter-spacing: -0.5px;
  }

  &__toggle-button {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__toggle-button-text {
    margin-left: 10px;
  }

  &__like-buttons-block {
    margin-bottom: 43px;
  }

  &__like-buttons-title {
    margin-bottom: 16px;
  }

  &__like-buttons {
    display: flex;
  }

  &__like-button {
    margin-right: 10px;
  }

  &__rate-button {
    margin-bottom: 190px;
  }

  &__stars-block {
    margin-top: 16px;
    display: flex;
  }

  &__stars {
    margin-right: 20px;
  }

  &__star {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: $purple;
  }

  &__dropdown-guests-expanded {
    margin-bottom: 259px;
  }

  &__rich-checkbox-buttons-title {
    margin-bottom: 13px;
  }

  &__right-col {
    width: 320px;
    margin-left: 72px;
    grid-area: c;

    @media(max-width: 1200px) {
      margin: 30px auto;
    }
  }

  &__slider {
    width: 266px;
    margin-bottom: 46px;
  }

  &__buttons {
    margin-bottom: 41px;
  }

  &__button_hover {
    margin-left: 21px;
  }

  &__buttons-row {
    margin-top: 17px;
    display: flex;

    &_margin_medium {
      margin-top: 30px;
    }

    &_margin_big {
      margin-top: 32px;
    }
  }

  &__button-with-arrow {
    margin-top: 27px;
    padding: 3px 0 0 1px; // для выравнивания с макетом
  }

  &__pagination-block {
    width: 240px;
    margin-bottom: 233px;
  }

  &__pagination {
    margin-top: 17px;
  }

  &__bullet-list {
    width: 260px;
  }

  &__bullet-list-title {
    margin-bottom: 9px;
  }

  &__reviews {
    max-width: 710px;
    margin: 224px 0 0 124px;
    grid-area: d;

    @media(max-width: 1200px) {
      margin: 30px auto;
    }
  }
}
