.ui-form {
  margin: 138px 140px 140px 141px;
  display: flex;

  &__left-col {
    margin-top: 4px;
    width: 320px;
  }

  &__text-field {
    margin-bottom: 20px;

    &_margin_enlarged {
      margin: 0 2px 22px 0;
    }
  }

  &__input {
		height: 44px;
		width: 100%;
    padding: 0 7px 3px 13px;
		border-radius: 4px;
		border: 1px solid $dark25;
		color: $dark75;
		cursor: pointer;
    font: 14px/14px Montserrat;
    letter-spacing: -0.15px;

		&:hover, &:focus {
			border-color: $dark50;
		}

		&::placeholder {
      color: $dark25;
      letter-spacing: 0;
    }

    &_hover {
      border-color: $dark50
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6px;
  }

  &__header {
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark100;

    &_color_grey {
      color: $dark50;
      font-weight: normal;
      letter-spacing: -0.15px;
    }

    &_margin_enlarged {
      padding-bottom: 3px;
    }
  }

  &__dropdown-guests {
    margin-bottom: 22px;
  }

  &__datepicker-2f {
    margin: 40px 0 41px 0;
  }

  &__narrow-block {
    margin-left: -1px;  //Только чтобы с макетом совпадало
    width: 266px;
  }

  &__email {
    margin: 43px 0 100px 0;
  }

  &__dropdown-beds {
    margin-bottom: 20px;
  }

  &__expandable-checkboxes {
    margin: 15px 0 0 0;

    &_collapsed {
    margin: 51px 0 39px 0;
    }
  }

  &__info-apartment {
    margin-top: 14px;
  }

  &__middle-right-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  &__middle-col {
    margin: 7px 0 0 126px;
  }

  &__checkbox-buttons-title {
    margin-bottom: 13px;
  }

  &__radio-buttons-block {
    margin: 39px 0 41px 0;
  }

  &__radio-buttons {
    margin-top: 14px;
    display: flex;
  }

  &__radio-button {
    margin-right: 20px;
  }


  &__toggle-buttons-title {
    margin-bottom: 15px;
    letter-spacing: -0.5px;
  }

  &__toggle-button {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__toggle-button-text {
    margin-left: 10px;
  }

  &__like-buttons-block {
    margin: 45px 0 0 0;
  }

  &__like-buttons-title {
    margin-bottom: 16px;
  }

  &__like-buttons {
    display: flex;
  }

  &__like-button {
    margin-right: 10px;
  }

  &__rate-button {
    margin-top: 43px;
  }

  &__stars-block {
    margin-top: 16px;
    display: flex;
  }

  &__stars {
    margin-right: 20px;
  }

  &__star {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: $purple;
  }

  &__dropdown-guests-expanded {
    margin-top: 190px;
  }

  &__rich-checkbox-buttons {
    margin-top: 259px;
  }

  &__rich-checkbox-buttons-title {
    margin-bottom: 13px;
  }

  &__right-col {
    width: 320px;
    margin: 0 0 0 72px;
  }

  &__slider {
    width: 266px;
  }

  &__buttons {
    margin-top: 46px;
  }

  &__button_hover {
    margin-left: 21px;
  }

  &__buttons-row {
    margin: 17px 0 30px 0;
    display: flex;
  }

  &__button-with-arrow {
    padding: 3px 0 0 1px;
  }

  &__pagination-block {
    width: 240px;
    margin-top: 41px;
    padding-bottom: 43px;
  }

  &__pagination {
    margin-top: 17px;
  }

  &__bullet-list {
    margin: 259px 0 0 0;
    width: 260px;
  }

  &__bullet-list-title {
    margin-bottom: 9px;
  }

  &__reviews {
    width: 710px;
    margin: 224px 0 0 124px;
  }
}
