mixin email
    .email
        form(action="changeMe" method="post")
            input(type = "email" placeholder="Email").email__input
            span.material-icons.email__arrow-symbol= "arrow_forward"