.email {
	height: 44px;
	width: 100%;
	padding: 0 10px 0 15px;
	border: 1px solid $dark25;
	border-radius: 4px;
	color: $dark75;
	cursor: pointer;
	display: flex;
	align-items: center;

	&:hover {
		border-color: $dark50;
	}

	&__input {
		width: 220px;
		background: #FFFFFF;
		border: none;
		outline: none;
		font-family: Montserrat, Arial, sans-serif;
		font-size: 14px;

		&::placeholder {
			color: $dark25;
		}
	}

	&__symbol-arrow {
		color: #8BA4F9;
	}
}
