.datepicker-2f {
	display: flex;
	justify-content: space-between;
	background: white;
	width: 320px;

	&__wrapper-input-field {
		width: 150px;
		margin-top: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__input-field {
		width: 100px;
		outline: none;
		border: 0;
		font-size: 14px;
	}

	&__expand-symbol {
		margin: 0;
	}
}


        