mixin datepicker
    .datepicker-2f
        input(class = "datepicker-here" id = "inDateField" inline = "true" type="text"
        data-range="true" data-multiple-dates-separator = " - " dateFormat = "dd.mm.yyyy" clearButton = "true")
        input(id = "outDateField")
        