extends ../../template.pug
include ../../blocks/datepicker-2f/datepicker-2f
include ../../blocks/dropdown/dropdown
include ../../blocks/button-with-arrow/button-with-arrow
include ../../blocks/apartments-finder/apartments-finder

block content
    main.landing-page
        .landing-page__apartments-finder
            +apartments-finder
        .landing-page__phrase-of-day= "Лучшие номера для вашей работы, отдыха и просто вдохновения"        




