.landing-page {
	&__content {
		margin: 0 auto;
		height: 829px;
		width: 100%;
		background: center/cover no-repeat  url("./images/landing-page-bg.jpg");
		padding: 70px 130px 0 140px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: 1300px) {
			padding: 70px 20px 0 20px;
		}

		@media (max-width: 420px) {
			padding: 70px 0 0 0;
		}
	}

	&__phrase-of-day {
		width: 280px;
		align-self: flex-end;
		text-align: right;
		margin-bottom: 21px;
		margin-right: 4px;
		font-size: 14px;
		line-height: 24px;

		@media (max-width: 950px) {
			display: none;
		}
	}
}
