.dropdown_width266px {
  width: 266px;
}
.dropdown_width266px .dropdown__buttons {
  width: 266px;
  position: static;
}
.dropdown_width266px .dropdown__ul {    
    position: static;
}
.dropdown_width266px li {
  width: 264px;
}