@import "__img/appartment-card__img.scss";
@import "__img-arrows/appartment-card__img-arrows.scss";
@import "__img-spots/appartment-card__img-spots.scss";
@import "__img-spot/appartment-card__img-spot.scss";
@import "__img-spot/appartment-card__img-spot_fill.scss";
@import "./__info/appartment-card__info";
@import "./__info/appartment-card__info_forCheck.scss";
@import "./__rating/appartment-card__rating.scss";
@import "./__rating-star/appartment-card__rating-star.scss";
@import "./__review/appartment-card__review.scss";

.appartment-card {
  margin: 10.4px 5.6px;    
  width: 270px;
  height: 257px;
  background: white;
  font-weight: bold;
  color: $dark50;
  box-shadow: 0px 10px 20px $dark05;
  border-radius: 4px;    
}
