.button {  
  border: 2px solid $purple;
  border-radius: 20px;
  padding: 8px 18px;
  margin: 10px;
  display: flex;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
	text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: $purple;
  cursor: pointer;

  &_violet {    
    background: $primGrad;
    color: #FFFFFF;
  }

  &_for-regform {  
    padding: 12px 23px;
    margin: 0;
  }

  &_for-ui {
    padding: 12px 17px;
    margin: 0 20px 0 0;
  }
}

.button:hover {
  opacity: 0.5;
}
