mixin button(text)
  -
    var blockClass = "button"
    if (attributes.size === "medium")
      blockClass += " button_size-medium"
    if (attributes.size === "long")
      blockClass += " button_size-long"

  button(class = blockClass)= text