mixin button(text, jsClass = '')
  -
    var borderClass = 'button__border'
    var bodyClass = 'button__body ' + jsClass
    if (attributes.size === 'long')
      bodyClass += ' button__body_size_long'

    if (attributes.size === 'thin')
      bodyClass += ' button__body_size_thin'

    if (attributes.size === 'medium')
      bodyClass += ' button__body_size_medium'

    if (attributes.color === 'violet') {
      bodyClass += ' button__body_color_violet'
      borderClass = ''
    }

    if (attributes.style === 'without border') {
      bodyClass += ' button__body_without-border'
      borderClass = ''
    }

    if (attributes.type === 'hover') {
      if (attributes.color === 'violet') {
        bodyClass += ' button__body_hover_opacity'
      } else if (attributes.style === 'without border') {
        bodyClass += ' button__body_hover_dark'
      } else {
        borderClass += ' button__border_hover'
      }
    }

    if (attributes.forNavbar === true) {
      bodyClass += ' button__body_for_navbar'
      borderClass += ' button__border_for_navbar'
    }

  .button
    div(class = borderClass)
      button(class = bodyClass)= text