.button {
  border: 2px solid $purple;
  border-radius: 22px;
  padding: 13px 17px;
  display: flex;
  font-size: 12px;
  line-height: 14px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 600;
	text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: $purple;
  cursor: pointer;
  background: white;

  &:hover {
    border-color: #bb9cff81;
  }

  &_size_long {
    padding: 13px 24px;
  }
}


