.text-field {
    width: 320px;
    height: 44px;
    border: 1px solid $dark25;
    padding-left: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px 0;
    outline: 0;
    font: $font-body;
}
.text-field:hover, .text-field:focus {
    border: 1px solid $dark50;
}
.text-field::placeholder {
    color: $dark25;
}