.registration-form {
  width: 380px;
  padding: 40px 29px 30px 29px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: white;

  @media (max-width: 385px) {
    width: 320px;
    padding: 20px;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: $dark100;
    margin-bottom: 14px;
  }

  &__input {
		height: 44px;
		width: 100%;
		margin: 5px 0;
		padding: 0 7px 0 14px;
		border-radius: 4px;
		border: 1px solid $dark25;
		color: $dark75;
		font: $font-body;

		&:hover, &:focus {
			border-color: $dark50;
		}

		&::placeholder {
			color: $dark25;
		}
  }

  &__header {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark100;
  }

  &__radio-buttons {
    margin: 3px 0 22px 0;
    display: flex;
    justify-content: start;
  }

  &__radio-button {
    margin-right: 20px;
  }

  &__service-input {
    margin-top: 15px;
  }

  &__toggle-button {
    display: flex;
    justify-content: start;
    line-height: 24px;
    margin: 2px 0 23px 0;
    color: $dark75;
  }

  &__toggle-button-text {
    margin-left: 10px;
  }

  &__button-submit {
    width: 100%;
    border: 0;
    background: 0;
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark100;
  }

  &__footer-text {
    padding-bottom: 2px;
  }
}



