@import "__radio-buttons/registration-form__radio-buttons.scss";
@import "__service-input/registration-form__service-input.scss";
@import "__toggle-button/registration-form__toggle-button.scss";
@import "__wrapper-in/registration-form__wrapper-in.scss";

.registration-form {
  width: 320px;
  padding: 40px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);    
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: white;
  @media (max-width: 385px) {
    box-sizing: border-box;
    width: 320px;
    padding: 20px;
    
    .text-field {
      width: 280px;
    }
    .button-with-arrow {
      width: 260px;
    }
  }
}
.registration-form h1 {
  margin-bottom: 14px;
  letter-spacing: -0.6px;
}
.registration-form button {
  padding: 0;
  border: 0;
  background: 0;
}

