.footer-large__inf-elem-email {
    border: 1px solid $dark25;
    border-radius: 4px;
}

.footer-large__inf-elem-email input{
	width: 220px;
	height: 44px;
	padding: 15px;
	background: #FFFFFF;
	border: none;
	outline: none;    
	box-sizing: border-box;
}

.footer-large__inf-elem-email input::placeholder {
	color: $dark25;
}

.footer-large__inf-elem-email span {
	margin: 8px;
	color: #8BA4F9;
}