.navbar__menu-elem {
    margin: 10px;              
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $dark50;
}

.navbar__menu-elem:hover {
    color: $purple;
}

.navbar__menu-elem_bold {
    font-family: "Montserrat-Bold";
    color: $dark75;
}
