.search-room {
	padding: 30px 130px 0 139px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1300px) {
    padding: 30px 20px 0 20px;
  }

  @media (max-width: 630px) {
    flex-wrap: wrap;
  }

  &__left-col {
    min-width: 268px;
    padding: 0 1px;

    @media (max-width: 630px) {
      margin: 0 auto;
    }
  }

  &__right-col {
    margin-left: 52px;

    @media (max-width: 630px) {
      margin: 0 auto;
    }
  }

  &__cards {
    display: flex;
    margin-bottom: 28px;
    margin-right: 3px;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (max-width: 1438px) {
      justify-content: center;
    }
  }

  &__apartment-card {
    margin: 10.4px 6.2px;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: $dark100;
    padding: 1px 0 9px 7px;
    text-align: center;

    @media (max-width: 1440px) {
      text-align: left;
    }

    @media (max-width: 1438px) {
      text-align: center;
    }

    @media (max-width: 620px) {
      margin-top: 30px;
    }
  }

  &__pagination {
    margin: 0 19px 73px 0;
  }
}
