extends ../../template.pug
include ../../blocks/datepicker-1f/datepicker-1f
include ../../blocks/dropdown/dropdown
include ../../blocks/checkbox-item/checkbox-item
include ../../blocks/apartment-form/apartment-form
include ../../blocks/apartment-card/apartment-card

block content
    main.search-room
        -
            const cards = [
                ["images/room-840.jpg", "840", "", "9 900", 4, 65],
                ["images/room-980.jpg", "980", "ЛЮКС", "8 500", 3, 35],
                ["images/room-856.jpg", "856", "", "7 300", 5, 19],
                ["images/room-740.jpg", "740", "", "6 000", 4, 44],
                ["images/room-982.jpg", "982", "", "5 800", 3, 56],
                ["images/room-678.jpg", "678", "", "5 500", 5, 45],
                ["images/room-450.jpg", "450", "", "5 300", 4, 39],
                ["images/room-350.jpg", "350", "", "5 000", 3, 77],
                ["images/room-666.jpg", "666", "", "5 000", 5, 25],
                ["images/room-444.jpg", "444", "", "5 000", 3, 15],
                ["images/room-352.jpg", "352", "", "5 000", 3, 55],
            ]
        aside.search-room__left-col
            +apartment-form
        article.search-room__right-col
            h1.search-room__title= "Номера, которые мы для вас подобрали"
            .search-room__cards
                section.search-room__apartment-card
                    +apartment-card("images/room-888.jpg", "888", "ЛЮКС", "9 990", 5, 145)
                each val in cards
                    section.search-room__apartment-card
                        +apartment-card(...val)(arrows = "none")
            .search-room__pages
                button.search-room__button.search-room__button_current= 1
                each val in [2, 3, "...", 15]
                    button.search-room__button= val
                button.material-icons.search-room__button.search-room__button_next= "arrow_forward"
            .search-room__pages-comment
                = "1 – 12 из 100+ вариантов аренды"
