include ../button-with-arrow/button-with-arrow

mixin in-form
    .in-form
        h1= "Войти"
        input.text-field(type="email" placeholder= "Email")
        input.text-field(type="password" placeholder= "Пароль")
        .wrapper-button-with-arrow
            +button-with-arrow("ВОЙТИ")
        .wrapper-in
            p= "Нет аккаунта на Toxin"
            //+navbar__button("СОЗДАТЬ")(modifiers = "navbar__button_for-reg-form")