@import "../text-field/text-field";
@import "../button-with-arrow/button-with-arrow";
@import "../button-with-arrow/_in-form/button-with-arrow_in-form";

.in-form {
    width: 320px;
    padding: 40px 30px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);    
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: white;

    h1 {
        margin-bottom: 14px;
        letter-spacing: -0.6px;
    }
    .wrapper-button-with-arrow {
        margin-top: 15px;
    }
    .wrapper-in {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font: $font-body;
        color: black;
    }
}
    