include ../button-with-arrow/button-with-arrow

mixin in-form
    .in-form
        form(action="changeme", method="post")
            h1.in-form__title= "Войти"
            input.text-field(type="email" placeholder= "Email")
            input.text-field(type="password" placeholder= "Пароль")
            button(type = "submit").in-form__button-with-arrow
                +button-with-arrow("ВОЙТИ")
            .in-form__wrapper-in
                p= "Нет аккаунта на Toxin"
                .button.button_for-regform= "войти"