.in-form {
	width: 320px;
	padding: 40px 30px 30px 30px;
	border: 1px solid rgba(0, 0, 0, 0.12);    
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background: white;

	@media (max-width: 385px) {
		box-sizing: border-box;
		width: 320px;
		padding: 20px;

		.text-field {
			width: 280px;
		}

		.button-with-arrow {
			width: 260px;
		}
	}

	&__title {
		margin-bottom: 14px;
		letter-spacing: -0.6px;
	}

	&__button-with-arrow {
		padding: 0;
		border: 0;
		background: 0;
		margin-top: 15px;
	}

	&__wrapper-in {
		margin-top: 28px;
		margin-bottom: 4px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $dark100;
	}
}
