.footer-small {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $dark05;
  display: flex;
  border-top: 1px solid $dark10;
  justify-content: space-between;
  padding: 10px 130px 17px 139px;

  @media (max-width: 1200px) {
    display: none;
  }

  &__copyright {
    margin-top: 13px;
  }
}


