mixin footer-small
    .footer-small
        p. 
            Copyrigth &copy; 2018 Toxin отель. Все права защищены.
        .footer-small__icons
            a(href = "changeMe")
                img(src="images/t.png" alt = "твиттер")
            a(href = "changeMe")
                img(src="images/f.png" alt = "фейсбук")
            a(href = "changeMe")
                img(src="images/i.png" alt = "инстаграмм")