mixin footer-small
    .footer-small
        p.footer-small__text.
            Copyright &copy; 2018 Toxin отель. Все права зачищены.
        .footer-small__icons
            a(href = "https://twitter.com/" target = "_blank" rel="noopener noreferrer")
                img(src="images/tweeter-icon.png" alt = "твиттер").footer-small__icon
            a(href = "https://facebook.com/" target = "_blank" rel="noopener noreferrer")
                img(src="images/facebook-icon.png" alt = "фейсбук").footer-small__icon
            a(href = "https://instagram.com/" target = "_blank" rel="noopener noreferrer")
                img(src="images/instagram-icon.png" alt = "инстаграмм").footer-small__icon
