mixin footer-small
    .footer-small
        p.footer-small__text.
            Copyright &copy; 2018 Toxin отель. Все права защищены.
        .footer-small__icons
            a(href = "changeMe")
                img(src="images/t.png" alt = "твиттер").footer-small__icon
            a(href = "changeMe")
                img(src="images/f.png" alt = "фейсбук").footer-small__icon
            a(href = "changeMe")
                img(src="images/i.png" alt = "инстаграмм").footer-small__icon