mixin footer-small
    .footer-small
        p. 
            Copyrigth &copy; 2018 Toxin отель. Все права защищены.
        .footer-small__icons
            img(src="images/t.png")
            img(src="images/f.png")
            img(src="images/i.png")