@import "__icons/footer-small__icons.scss";

.footer-small {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  color: $dark75;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $dark05;
  align-items: center;
  border-top: 1px solid $dark10; 
  display: flex;
  justify-content: space-between;
  padding: 10px 130px 10px 140px;
  @media (max-width: 1200px) {
    display: none;
  }
}


