mixin visitor-review__user(img, name, date)
    .visitor-review__user
        img(src= img alt = "аватарка")
        .wrapper__user-info
            .visitor-review__user-name= name
            .visitor-review__user-date= date