mixin visitor-review__user(img, name, time)
    .visitor-review__user
        img(src= img)
        .wrapper__user__info
            .visitor-review__user__name= name
            .visitor-review__user__time= time