extends ../ui-template

include ../../blocks/datepicker/datepicker
include ../../blocks/dropdown/dropdown
include ../../blocks/apartments-finder/apartments-finder
include ../../blocks/button-with-arrow/button-with-arrow
include ../../blocks/registration-form/registration-form
include ../../blocks/receipt/receipt
include ../../blocks/in-form/in-form
include ../../blocks/apartment-card/apartment-card

block content
    .ui-cards
        .ui-cards__left-col
            .ui-cards__apartments-finder
                +apartments-finder
            .ui-cards__registration-form
                +registration-form
        .ui-cards__middle-col
            .ui-cards__receipt
                +receipt
            .ui-cards__in-form
                +in-form
        .ui-cards__right-col
            .ui-cards__datepicker
                .datepicker-block.js-datepicker
                    div(class = "datepicker-here datepicker__input-field js-datepicker__input-field" id = "inDateField" inline = "true" type="text"
                    data-range="true" data-multiple-dates-separator = " - " clearButton = "true" placeholder="ДД.ММ.ГГГГ")
            .ui-cards__apartment-card
                +apartment-card({img: ["images/room-888_1.jpg", "images/room-888_2.jpg", "images/room-888_3.jpg"], number: "888", luxury: "ЛЮКС", price: "9 990", stars: 5, reviews: 145})
            .ui-cards__apartment-card
                +apartment-card({img: ["images/room-840.jpg"], number: "840", luxury: "", price: "9 990", stars: 4, reviews: 65})
