.ui-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 151px 41px 140px 140px;
  background: #F4F4F6;

  &__registration-form {
    margin-top: 39px;
  }

  &__middle-col {
    margin-left: 40px;
  }

  &__in-form {
    display: inline-block;
    margin-top: 40px;
  }

  &__right-col {
    margin-left: 40px;
  }

  &__datepicker-2f {
    //margin: 151px 0 0 37px;
  }

  &__apartment-card {
    margin-top: 39px;
  }
}