.ui-cards {
  display: flex;
  flex-wrap: wrap;

  &__apartments-finder {
    margin-top: 149px;
  }

  &__registration-form {
    margin: 41px 0 0 140px;
    position: static;
  }
  
  &__apartments-finder-check {
    margin: 151px 0 0 37px;
  }

  &__in-form {
    position: static;
    display: inline-block;
    margin: 38px 0 0 37px;
  }

  &__datepicker-2f {
    margin: 151px 0 0 37px;
  }

  &__apartment-card {
    margin-left: 33px;
    margin-top: 39px;
  }    
}