extends ../../ui-template

include ../../blocks/datepicker-2f/datepicker-2f
include ../../blocks/dropdown/dropdown
include ../../blocks/apartments-finder/apartments-finder
include ../../blocks/button-with-arrow/button-with-arrow
include ../../blocks/registration-form/registration-form
include ../../blocks/receipt/receipt
include ../../blocks/in-form/in-form
include ../../blocks/apartment-card/apartment-card

block content
    .ui-cards
        .ui-cards__left-col
            .ui-cards__apartments-finder
                +apartments-finder
            .ui-cards__registration-form
                +registration-form
        .ui-cards__middle-col
            .ui-cards__apartments-finder-check
                +receipt
            .ui-cards__in-form
                +in-form
        .ui-cards__right-col
            .ui-cards__datepicker-2f
                .datepicker-2f
                    div(class = "datepicker-here datepicker-2f__input-field" id = "inDateField" inline = "true" type="text"
                    data-range="true" data-multiple-dates-separator = " - " clearButton = "true" placeholder="ДД.ММ.ГГГГ")
            .ui-cards__apartment-card
                +apartment-card("images/cards/888.jpg", "888", "ЛЮКС", "9 990", 5, 145)
            .ui-cards__apartment-card
                +apartment-card("images/cards/840.jpg", "840", "", "9 900", 4, 65)(type = "common")
