mixin socials
  .socials
    a(href = "https://twitter.com/" target = "_blank" rel="noopener noreferrer")
      img(src="images/tweeter-icon.png" alt = "твиттер").social__icon
    a(href = "https://facebook.com/" target = "_blank" rel="noopener noreferrer")
      img(src="images/facebook-icon.png" alt = "фейсбук").social__icon
    a(href = "https://instagram.com/" target = "_blank" rel="noopener noreferrer")
      img(src="images/instagram-icon.png" alt = "инстаграмм").social__icon