@import "__border/radio-button__border.scss";
@import "__spot/radio-button__spot.scss";

.radio-button {
    display: flex;
    align-items: center;
    font: $font-body;
    margin-right: 20px;
}
.radio-button input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.radio-button input:checked + .radio-button__border {
    border: 1px solid $purple;
}
.radio-button input:checked + .radio-button__border .radio-button__spot {
    background: $purple;
}