mixin radio-button(name, label)
    label.radio-button
        input(type="radio" name= name)
        span.radio-button__border
            span.radio-button__spot
        span.radio-button__label= label
        