.footer-large__list {
  width: 200px;
  margin: 0px;
  line-height: 18px;
}

.footer-large__list ul {
  padding-inline-start: 0px;    
  list-style-type: none;
}

.footer-large__list li {
  padding: 10px 0px;
}

li.footer-large__list-title {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark100;
}







