mixin footer-large__list(title, items)
    .footer-large__list
        ul
            li.footer-large__list-title= title                
            each val in items
                a(href="changeMe")
                    li= val
