include ../../like-button/like-button
mixin visitor-review__comment(like, quantity, text)
    .visitor-review__comment
        .visitor-review__comment__wrapper-like-button
            +like-button(like, quantity)
        .visitor-review__comment__text= text
