mixin visitor-review__comment(like, quantity, text)
    .visitor-review__comment
        .visitor-review__comment-like-button
            +like-button(like, quantity)
        .visitor-review__comment-text= text
