@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat-regular.woff') format('woff'),
		url('../fonts/montserrat-regular.ttf') format('truetype'),
		url('../fonts/montserrat-regular.svg') format('svg'),
		url('../fonts/montserrat-regular.eot') format('eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat-light.woff') format('woff'),
		url('../fonts/montserrat-light.ttf') format('truetype'),
		url('../fonts/montserrat-light.svg') format('svg'),
		url('../fonts/montserrat-light.eot') format('eot');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat-medium.woff') format('woff'),
		url('../fonts/montserrat-medium.ttf') format('truetype'),
		url('../fonts/montserrat-medium.svg') format('svg'),
		url('../fonts/montserrat-medium.eot') format('eot');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat-semi-bold.woff') format('woff'),
		url('../fonts/montserrat-semi-bold.ttf') format('truetype'),
		url('../fonts/montserrat-semi-bold.svg') format('svg'),
		url('../fonts/montserrat-semi-bold.eot') format('eot');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat-bold.woff') format('woff'),
		url('../fonts/montserrat-bold.ttf') format('truetype'),
		url('../fonts/montserrat-bold.svg') format('svg'),
		url('../fonts/montserrat-bold.eot') format('eot');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/quicksand-regular.woff') format('woff'),
		url('../fonts/quicksand-regular.ttf') format('truetype'),
		url('../fonts/quicksand-regular.svg') format('svg'),
		url('../fonts/quicksand-regular.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/quicksand-semi-bold.woff') format('woff'),
		url('../fonts/quicksand-semi-bold.ttf') format('truetype'),
		url('../fonts/quicksand-semi-bold.svg') format('svg'),
		url('../fonts/quicksand-semi-bold.eot');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/quicksand-bold.woff') format('woff'),
		url('../fonts/quicksand-bold.ttf') format('truetype'),
		url('../fonts/quicksand-bold.svg') format('svg'),
		url('../fonts/quicksand-bold.eot');
	font-weight: bold;
	font-style: normal;
}
