$dark100: #1F2041;
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.50);
$dark25: rgba(31, 32, 65, 0.25);
$dark10: rgba(31, 32, 65, 0.10);
$dark05: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$primGrad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$primGradTrans: linear-gradient(180deg, #BC9CFF81 0%, #8BA4F981 100%);
$font-body: 14px/24px Montserrat, Arial, sans-serif;