extends ../../template.pug
include ../../blocks/registration-form/registration-form
include ../../blocks/in-form/in-form
block content
    main.content-registration
        .wrapper-registration-form.js-reg-form
            +registration-form
        .wrapper-in-form.js-in-form
            +in-form



