.registration {
  height: 684px;
  background: center / cover no-repeat url("./images/registration-bg.jpg");
  margin: 0 auto;

  &__reg-form {
    width: 384px;
    padding: 19px 0 0 4px;
    margin: 0 auto;

    @media (max-width: 385px) {
      width: 320px;
      padding: 10px 0;
    }

    &_hidden {
      display: none;
    }
  }

  &__in-form {
    width: 382px;
    padding: 162px 2px 0 0;
    margin: 0 auto;
    display: none;

    @media (max-width: 385px) {
      width: 320px;
      padding: 10px 0;
    }

    &_displayed {
      display: block;
    }
  }
}
