.registration {
  height: 684px;
  max-width: 1440px;
  background: no-repeat url("./images/registration-bg.jpg");
  margin: 0 auto;

  &__reg-form {
    position: absolute;
    top: 89px;
    left: 532px;

    &_hidden {
      display: none;
    }

    @media (max-width: 950px) {
      left: 0;
      top: 70px;
    }
  }

  &__in-form {
    position: absolute;
    top: 233px;
    left: 529px;
    display: none;

    &_displayed {
      display: block;
    }

    @media (max-width: 950px) {
      left: 0;
      top: 70px;
    }
  }
}
