extends ../template.pug

include ../../blocks/registration-form/registration-form
include ../../blocks/in-form/in-form

block content
    main.registration.js-registration
        .registration__reg-form.js-registration__reg-form
            +registration-form
        .registration__in-form.js-registration__in-form
            +in-form



