@import "__logo/footer-large__logo.scss";
@import "__list/footer-large__list.scss";
@import "__list/footer-large__list_width260px.scss";
@import "__subcribe/footer-large__subcribe.scss";
@import "__email/footer-large__email.scss";

.footer-large {
  padding: 95px 0 90px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  color: $dark50;
  box-shadow: 0px 1px 0px $dark10;
  @media (max-width: 1200px) {
    display: none;
  }
}

