.footer-large {
  padding: 95px 0 90px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  color: $dark50;
  box-shadow: 0px 1px 0px $dark10;
  @media (max-width: 1200px) {
    display: none;
  }

  &__logo {
    padding: 5px 40px 0px 0px;
    width: 260px;
    line-height: 24px;
  }
  
  &__logo-text {
    margin-top: 10px;
  }

  &__list {
    width: 200px;
    margin: 0px;
    line-height: 18px;
  
    &_width260px {
      width: 260px;
      padding-bottom: 7px;
      line-height: 24px;
    }
  }
  
  &__list-ul {
    padding-inline-start: 0px;    
    list-style-type: none;
  }
  
  &__list-li {
    padding: 10px 0px;
  
    &_title {
      font-size: 12px;
      line-height: 15px;
      font-weight: bold;
      text-transform: uppercase;
      color: $dark100;
    }
  }
  
}

