.footer-large {
  padding: 94px 130px 90px 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-top: 1px solid $dark25;
  color: $dark50;

  &_without-border {
    border: 0;
  }

  @media (max-width: 1300px) {
    padding: 94px 20px 90px 20px;
  }

  @media (max-width: 1200px) {
    display: none;
  }

  &__logo {
    padding: 6px 32px 0 0;
    width: 294px;
    line-height: 24px;
  }

  &__logo-text {
    margin-top: 10px;
  }

  &__subscribe {
    padding-right: 10px;
  }

  &__list {
    width: 195px;
    line-height: 18px;
    padding-inline-start: 0px;
    list-style-type: none;

    &_width_big {
      width: 260px;
      line-height: 24px;
    }
  }

  &__list-item {
    padding: 10px 0px;

    &_bolded {
      font-size: 12px;
      padding-bottom: 11px;
      line-height: 15px;
      font-weight: bold;
      text-transform: uppercase;
      color: $dark100;
    }

    &_shifted {
      padding: 7px 0 23px 0;
    }
  }

  &__reference {
    text-decoration: none;
    color: $dark50;

    &:hover {
      color: $purple;
    }
  }

  &__email {
    width: 260px;
  }
}

