mixin footer-large__subcribe
    .footer-large__subcribe
        .footer-large__list.footer-large__list_width260px
            ul
                li.footer-large__list-title= "Подписка"                
                li= "Получайте специальные предложения и новости сервиса"
        +footer-large__email
        