@import "./blocks/appartment-card/__info/appartment-card__info";
@import "./blocks/appartment-card/__info/appartment-card__info_forCheck";
@import "__dropdown/appartments-finder-check__dropdown.scss";
@import "__items/appartments-finder-check__items.scss";
@import "__price-item/appartments-finder-check__price-item.scss";
@import "__price-item-text/appartments-finder-check__price-item-text.scss";
@import "__price-item-text/appartments-finder-check__price-item-text_lh18px.scss";
@import "__price-item-i/appartments-finder-check__price-item-i.scss";
@import "__total/appartments-finder-check__total.scss";
@import "__total-dot-line/appartments-finder-check__total-dot-line.scss";
@import "__button-with-arrow/appartments-finder-check__button-with-arrow.scss";

.appartments-finder-check {
  width: 320px;
  height: 458px;
  padding: 22px 30px 30px 30px;
  background: white;    
  font: $font-body;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  
  @media (max-width: 385px) {
    box-sizing: border-box;
    width: 320px;
    height: 480px;
    padding: 10px;
    margin: 0 auto;

    .datepicker-2f, .dropdown {
      width: 300px;
    }
    .dropdown__ul {
      width: 300px;
    }
    .dropdown li {
      width: 292px;
    }
    .dropdown__item {
      width: 175px;
    }
    .dropdown__buttons {
      width: 300px;
    }
    .button-with-arrow {
      box-sizing: border-box;
      width: 300px;
    }
  }
}





