.ui-headers {
  background: #F4F4F6;

  &__empty {
    height: 140px;
  }

  &__navbar {

    &_with-name {
      margin-top: 40px;
    }
  }

  &__footer-large {
    margin-top: 40px;
  }

  &__footer-medium {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}