extends ../ui-template
include ../../blocks/navbar/navbar
include ../../blocks/footer/footer

block content
    .ui-headers
        .ui-headers__empty
        .ui-headers__navbar
            +navbar(firstElem = "bolded")
        .ui-headers__navbar.ui-headers__navbar_with-name
            +navbar()(type = "without-buttons" firstElem = "bolded")
        .ui-headers__footer
            +footer()(type = "without-border")
        .ui-headers__footer_width_small
            +footer()(style = "for ui-kit")
        .ui-headers__empty

