.ui-headers {
  background: #F4F4F6;

  &__empty {
    height: 140px;
  }

  &__navbar {
    &_with-name {
      margin-top: 40px;
    }
  }

  &__footer {
    margin-top: 40px;
  }

  &__footer_width_small {
    margin: 40px auto 0 auto;
    width: 768px;

    @media(max-width: 800px) {
      width: 100%;
    }
  }
}