@import "__logo/navbar__logo.scss";
@import "__items/navbar__items.scss";
@import "__collapsed-menu/navbar__collapsed-menu.scss";
@import "__expand-butt/navbar__expand-butt.scss";
@import "__list/navbar__list.scss";
@import "__buttons/navbar__buttons.scss";
@import "__item/navbar__item.scss";
@import "__item/navbar__item_bold.scss";
@import "__item/navbar__item_visible-flex.scss";
@import "__button/navbar__button.scss";
@import "__sign-in/navbar__sign-in.scss";

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;    
  align-items: center;
  min-height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $dark05;
}








