include __menu-elem/navbar__menu-elem
include __menu-elem-dropdown/navbar__menu-elem-dropdown
include __button/navbar__button

mixin navbar
    .navbar
        +logo-toxin
        +navbar__menu-elem("О нас")
        +navbar__menu-elem-dropdown("Услуги", "expand_more")
        +navbar__menu-elem("Вакансии")
        +navbar__menu-elem("Новости")
        +navbar__menu-elem-dropdown("Соглашения", "expand_more")
        +navbar__button("ВОЙТИ")
        +navbar__button("ЗАРЕГИСТРИРОВАТЬСЯ", "_violet")        


