include __menu-elem/navbar__menu-elem
include __menu-elem-dropdown/navbar__menu-elem-dropdown
include __button/navbar__button
include __sign-in/navbar__sign-in

mixin navbar
    - var classMod = attributes.modifiers ? "navbar " + attributes.modifiers : "navbar"
    nav(class = classMod)
        +logo-toxin
        .wrapper-navbar-collapsed
            a(href="changeMe")
                +navbar__menu-elem("О нас")(modifiers = "navbar__menu-elem_bold")
            span.material-icons.navbar__more= "more_horiz"
        .wrapper-navbar-more-list    
            a(href="changeMe")
                +navbar__menu-elem-dropdown("Услуги", "expand_more")
            a(href="changeMe")
                +navbar__menu-elem("Вакансии")
            a(href="changeMe")
                +navbar__menu-elem("Новости")
            a(href="changeMe")
                +navbar__menu-elem-dropdown("Соглашения", "expand_more")
        .wrapper-navbut-buttons
            .wrapper-button-in
                
                    +navbar__button("войти")
            .wrapper-button-reg
                
                    +navbar__button("зарегистрироваться")(modifiers = "navbar__button_violet")
            a(href="changeMe")
                .wrapper-navbar__sign-in
                    +navbar__sign-in("Юлий Цезарь")


        


