.button-with-arrow {
  background: $primGrad;
  width: 320px;
  height: 44px;
  padding-right: 4px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  &:hover {
    opacity: 0.5;
  }

  &__arrow {
    position: absolute;
    right: 11px;
  }
}



