mixin button-with-arrow(text, modifier="")
    -
        let classDef = "button-with-arrow"
        let classMod = modifer != "" ? classDef + " " + classDef + modifier : classDef
    div(class = classMod)
        span.button-with-arrow__text= text
        span.material-icons= "arrow_forward"