@import "__text/button-with-arrow__text.scss";

.button-with-arrow {    
    background: $primGrad;
    width: 302px;
    padding: 0 9px;
    height: 44px;  
    color: #FFFFFF;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; 
    cursor: pointer;
}
.button-with-arrow:hover {
    opacity: 0.5;
}
.button-with-arrow span.material-icons {    
    color: white;
    flex: 1;
    text-align: center;
}


