@import "__field/dropdown__field.scss";
@import "__ul/dropdown__ul.scss";
@import "__li/dropdown__li.scss";
@import "__item/dropdown__item.scss";
@import "__butt/dropdown__butt.scss";
@import "__quantity/dropdown__quantity.scss";
@import "__buttons/dropdown__buttons.scss";
@import "__apply/dropdown__apply.scss";
@import "__clear/dropdown__clear.scss";

.dropdown {
  background: white;
  width: 320px;
  position: relative;
  box-shadow: 0px 10px 20px $dark05;
  background: white;   
}



