.dropdown {
  background: white;
  width: 320px;
  position: relative;
  box-shadow: 0px 10px 20px $dark05;
  background: white;
  $root: &;

  &_width_small {
    width: 266px;

    #{$root}__buttons {
      width: 266px;
      position: static;
    }

    #{$root}__list {
      position: static;
    }

    #{$root}__list-item {
      padding: 0 6px 0 14px;
      width: 264px;
    }
  }

  &_shadow_none {
    box-shadow: none;
  }

  &__title {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark100;
  }

  &__field {
    height: 44px;
    margin: 5px 0 0 0;
    padding: 0 10px 0 14px;
    border-radius: 4px;
    border: 1px solid $dark25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark75;
    cursor: pointer;

    &:hover, &:focus {
			border-color: $dark50;
    }

    &_activated {
      height: 43px;
      border-radius: 4px 4px 0 0;
      border-bottom: 0;
      border-color: $dark50;
    }
  }

  &__list {
    display: none;
    position: absolute;
    border: 1px solid $dark50;
    z-index: 3;

    &_activated {
      display: block;
      border-bottom: 0
    }

    &_bordered {
      padding-bottom: 5px;
      border-bottom: 1px solid $dark50;
      border-radius: 0 0 4px 4px;
    }
  }

  &__list-item {
    height: 37px;
    padding: 0 5px 0 15px;
    width: 318px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    font-size: 12px;
    font-weight: bold;
    color: $dark100;
  }

  &__btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $dark25;
    color: $dark50;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    background: white;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    outline: none;
  }

  &__quantity {
    font-size: 12px;
    width: 28px;
    padding-left: 2px;
    line-height: 30px;
    font-weight: bold;
    border: 0;
    color: $dark100;
  }

  &__buttons {
    height: 48px;
    width: 320px;
    position: absolute;
    top: 174px;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 8px 7px 0 13px;
    border: 1px solid $dark50;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    &_activated {
      display: flex;
    }
  }

  &__apply {
    color: $purple;
    cursor: pointer;
  }

  &__clear {
    cursor: pointer;
  }
}



