mixin pie-chart-legend
    .pie-chart-legend
        - var assessment = ["Великолепно", "Хорошо", "Удовлетворительно", "Разочарован"]
        - var classes = ["_great", "_good", "_normal", "_bad"]
        each item, index in assessment
            .pie-chart-legend__item            
                span(class= "pie-chart-legend__mark pie-chart-legend__mark"+classes[index])
                span(class = "pie-chart-legend__text")
                    = item