.pie-chart-legend {
  font: $font-body;

  &__mark {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;

    &_assessment_bad {
      background: #919191;
    }

    &_assessment_good {
      background: $green;
    }

    &_assessment_great {
      background: #FFE39C;
    }

    &_assessment_normal {
      background: $purple;
    }
  }
}
