mixin carousel(images)
  -
    var dataImages = images;
    if (images) {
      var dataImages =  images.join(' ');
    }
  .carousel.js-carousel(data= dataImages)
    img.carousel__img.js-carousel__img
    .carousel__shadows.js-carousel__shadows.carousel__shadows_hidden
      .carousel__shadow-left
      .carousel__shadow-right
    .carousel__arrows.js-carousel__arrows.carousel__arrows_hidden
      span.material-icons.carousel__arrow-left.js-carousel__arrow-left= "chevron_left"
      span.material-icons.carousel__arrow-right.js-carousel__arrow-right= "chevron_right"
    .carousel__spots.js-carousel__spots
