mixin datepicker-1f(title= "")
    .datepicker-1f.js-datepicker-1f
        h3.datepicker-1f__title= title
        .datepicker-1f__wrapper-input-field.js-datepicker-1f__wrapper-input-field
            input(class = "datepicker-here datepicker-1f__input-field js-datepicker-1f__input-field" id = "inDateField" inline = "true" type="text"
            data-range="true" data-multiple-dates-separator = " - " clearButton = "true" placeholder="ДД.ММ.ГГГГ")
            span.material-icons.datepicker-1f__symbol-expand= "expand_more"