.appartment-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 19px 0px 19px;
  padding-bottom: 11px;
  border-bottom: 1px solid $dark10;
  font-weight: bold;
  color: $dark50;
}
.appartment-card__info-number {    
  color: $dark100;    
}
.appartment-card__info-number > span {
  font-size: 18px;
}
.appartment-card__info-luxury {
  color: $purple;
  font-size: 12px;
}
.appartment-card__info-price-dimension {
  font-size: 12px;
  font-weight: normal;
}