mixin appartment-card__info(number, luxury="", price)
    - var classMod = attributes.modifiers ? "appartment-card__info " + attributes.modifiers : "appartment-card__info"
    div(class = classMod)
        .appartment-card__info__part
            span.appartment-card__info__number
                = "№"
                span= ` ${number}`
            span.appartment-card__info__luxury= ` ${luxury}`
        .appartment-card__info__part
            span.appartment-card__info__price= `${price}₽`
            span.appartment-card__info__price__dimension= " в сутки"