.datepicker-1f__wrapper-input-field {
  width: 100%;
  padding: 0;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.datepicker-1f__wrapper-input-field input {
  font-size: 14px;
  outline: none;
  border: 0;
  padding-left: 14px;
}
.datepicker-1f__wrapper-input-field span {
  padding: 10px 9px 10px 15px;
  margin: 0;
}