mixin info-appartment (icon, title, text)
    - var classMod = attributes.modifiers ? "info-appartment " + attributes.modifiers : "info-appartment"
    div(class = classMod)
        span.material-icons.info-appartment__icon= icon
        .info-appartment__text-block
            .info-appartment__title= title
            .info-appartment__text= text