mixin info-appartment (icon, title, text)
    -
        var classMod = "info-appartment"
        if (attributes.type == "with border") {
            classMod += " info-appartment_border"
        }
    div(class = classMod)
        span.material-icons.info-appartment__icon= icon
        .info-appartment__text-block
            .info-appartment__title= title
            .info-appartment__text= text