.apartment-card {
  width: 270px;
  background: white;
  font-weight: bold;
  color: $dark50;
  box-shadow: 0px 10px 20px $dark05;
  border-radius: 4px;
  $root: &;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 21px 18px 0 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid $dark10;
    font-weight: bold;
    color: $dark50;
  }

  &__info-number {
    color: $dark100;
    font-family: 'Quicksand', 'Arial', sans-serif;
    font-weight: bold;
  }

  &__number {
    font-size: 19px;
  }

  &__info-luxury {
    color: $purple;
    font-weight: 600;
    font-size: 12px;
  }

  &__info-price-dimension {
    font-size: 12px;
    font-weight: normal;
  }

  &__rating {
    height: 42px;
    margin: 8px 20px 0 20px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__reviews {
    margin-bottom: 6px;
  }

  &__review {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: normal;
  }
}

