.datepicker-2f__wrapper-input-field {
	width: 150px;
	margin-top: 5px;
  display: flex;
	justify-content: space-between;
	align-items: center;
}

.datepicker-2f__wrapper-input-field input {
	width: 100px;
	outline: none;
	border: 0;
}
.datepicker-2f__wrapper-input-field span {
	margin: 0;
}