.apartment-form {
  &__datepicker {
    margin-bottom: 21px;
  }

  &__dropdown-guests {
    margin-bottom: 25px;
  }

  &__slider {
    margin-bottom: 32px;
  }

  &__slider-body {
    margin-bottom: 3px;
  }

  &__slider-price-description {
    font-size: 12px;
    line-height: 12px;
  }

  &__title {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark100;
  }

  &__options {
    margin-bottom: 32px;
  }

  &__options-title {
    margin-bottom: 17px;
  }

  &__accessibility {
    margin-bottom: 28px;
  }

  &__accessibility-title {
    margin-bottom: 17px;
  }

  &__checkbox {
    margin-bottom: 10px;

    &_with_description {
      margin-bottom: 5px;
    }
  }

  &__checkbox-description {
    margin: 0 0 9px 30px;
    font-size: 12px;
    line-height: 14px;
  }

  &__dropdown-beds {
    margin-bottom: 25px;
  }
}




