.apartment-form {
  &__dropdown-guests {
    margin-top: 21px;
  }

  &__slider {
    margin: 25px 0 29px 0;
  }

  &__title {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark100;
  }

  &__slider-price-description {
    padding-top: 3px;
    font-size: 12px;
    line-height: 12px;
  }

  &__options-title {
    padding-bottom: 12px;
  }

  &__accessibility {
    margin: 27px 0 28px 0;
  }

  &__checkbox {
    padding: 5px 0;
  }

  &__accessibility-title {
    padding-bottom: 12px;
  }

  &__checkbox-description {
    margin-bottom: 4px;
    margin-left: 30px;
    font-size: 12px;
    line-height: 14px;
  }

  &__more-options {
    padding-top: 19px;
  }
}




