.ui-colors {
  display: flex;

  &__left-col {
    width: 280px;
    margin: 125px 0 0 150px;
  }

  &__color-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
  }

  &__sq {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_dark100 {
      background: $dark100;
    }

    &_dark75 {
      background: $dark75;
    }

    &_dark50 {
      background: $dark50;
    }

    &_dark25 {
      background: $dark25;
    }

    &_dark05 {
      background: $dark05;
    }

    &_purple {
      background: $purple;
    }

    &_green {
      background: $green;
    }
  }

  &__right-col {
    margin: 94px 0 0 402px;
  }

  &__color-item-text {
    color: $dark100;
    margin-left: 40px;
  }

  &__color-item-title {
    margin: 5px 0;
  }

  &__color-item-code {
    font-weight: normal;
  }

  &__type-item {
    display: flex;
    justify-content: flex-start;
    margin: 50px 0;

    &_body {
      color: $dark50;
      font: $font-body;
    }
  }

  &__type-header {
    text-align: right;
    color: $dark25;
    font-family: "Montserrat";
    font-weight: normal;
    margin-right: 30px;
    width: 50px;
  }

  &__type-text {
    white-space: pre-line;
    color: $dark100;
  }
}
