.ui-colors {
  display: flex;

  &__left-col {
    width: 280px;
    margin: 125px 0 0 150px;
  }

  &__color-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
  }

  &__color-item-title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__sq {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_color_dark100 {
      background: $dark100;
    }

    &_color_dark75 {
      background: $dark75;
    }

    &_color_dark50 {
      background: $dark50;
    }

    &_color_dark25 {
      background: $dark25;
    }

    &_color_dark05 {
      background: $dark05;
    }

    &_color_purple {
      background: $purple;
    }

    &_color_green {
      background: $green;
    }
  }

  &__right-col {
    margin: 146px 0 0 402px;
  }

  &__type-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;

    &_margin_decreased {
      margin-bottom: 46px;
    }
  }

  &__color-item-text {
    color: $dark100;
    font-family: Quicksand, Arial, sans-serif;
    font-size: 19px;
    margin-left: 40px;
  }

  &__header-1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: -0.9px;
    color: $dark100;
  }

  &__header-2 {
    font-size: 19px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -0.75px;
    color: $dark100;
  }

  &__header-3 {
    font-size: 12px;
    line-height: 15px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark100;
  }

  &__body-text {
    font-size: 14px;
    line-height: 24px;
    font-family: Montserrat, Arial, sans-serif;
    color: $dark75;
  }

  &__header-marker {
    text-align: right;
    color: $dark25;
    font-family: Quicksand, Arial, sans-serif;
    font-weight: normal;
    margin-right: 31px;
    width: 50px;

    &_size_h1 {
      font-size: 24px;
    }

    &_size_h2 {
      font-size: 19px;
    }

    &_size_h3 {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
