mixin appartments-finder 
    .appartments-finder    
        .appartments-finder__title= "Найдем номера под ваши пожелания"
        +datepicker-2f
        +dropdown("", "ГОСТИ", "Сколько гостей", "ВЗРОСЛЫЕ", "ДЕТИ", "МЛАДЕНЦЫ")
        .wrapper-button-with-arrow
            +button-with-arrow("ПОДОБРАТЬ НОМЕР")  