.appartments-finder {
    width: 320px;
    height: 304px;
    padding: 40px 30px 30px 30px;
    background: white;
    margin: 70px 0 0 140px;    
}
.appartments-finder__title {
    width: 320px;
    font: 24px/30px 'Montserrat-Bold';
    padding-bottom: 22px;
    letter-spacing: -0.3px;    
}
.wrapper-button-with-arrow {
    margin-top: 32px;
}