mixin checkbox-item(text)
    - var classMod = attributes.modifiers ? "checkbox-item " + attributes.modifiers : "checkbox-item"
    div(class = classMod)
        label
            input(type = "checkbox")
            span.checkbox-item__pseudo
            span.checkbox-item__text
                != text