mixin checkbox-item(text)
    -
        var classMod = "checkbox-item"
        if (attributes.style == "bold") {
            classMod += " checkbox-item_bold"
        }
    div(class = classMod)
        label.checkbox-item__label
            input(type = "checkbox").checkbox-item__input
            span.checkbox-item__pseudo
            span!= text