.checkbox-item {
  font-size: 14px;
  line-height: 18px;
  color: $dark50; 
  padding: 5px 0;

  &_bold {
    font-weight: bold;
    color: $dark75;
  }

  &__label {
    display: flex;
    align-items: top;
    cursor: pointer;   
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0
  }

  &__input:checked ~ .checkbox-item__pseudo {
    border: 1px solid $purple;
    position: relative;
  }

  &__input:checked ~ .checkbox-item__pseudo:after {
    display: block;
    content: '';
    width: 4px;
    height: 8px;
    border: 2px solid $purple;
    border-top: 0;
    border-left: 0;
    position: absolute;
    left: 6px;
    top: 2px;
    transform: rotate(45deg);
  }

  &__pseudo {
    flex-shrink: 0;
    flex-grow: 0;
    display: inline-block;
    content: " ";
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 4px;
  }
}



