mixin footer-large__inf-elem-logo
    .footer-large__inf-elem-logo
        +logo-toxin("_static")
        p.
            Бронирование номеров в лучшем отеле 2019 года по версии ассоциации "Отельные взгляды"