.footer-large__inf-elem-list {
    width: 200px;
    margin: 0px;                  
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    
}

.footer-large__inf-elem-list ul {
    margin: 0px;
    padding-inline-start: 0px;    
    list-style-type: none;
}

.footer-large__inf-elem-list li {
    padding: 10px 0px;
}

