mixin footer-large__inf-elem-list(title, items)
    .footer-large__inf-elem-list
        ul
            li.footer-large__inf-elem-list__title= title                
            each val in items
                a(href="changeMe")
                    li= val
