@import "__box/toggle-button__box.scss";
@import "__slider/toggle-button__slider.scss";

.toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.toggle-button input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle-button input:checked + .toggle-button__box {
    border: 1px solid $purple;
}
.toggle-button input:checked + .toggle-button__box .toggle-button__slider {
    transform: translateX(20px);
    background: $purple;
}




