mixin toggle-button
    label.toggle-button
        input(type="checkbox")
        .toggle-button__box
            span.toggle-button__slider
        //
            label.toggle-button
            input(type="checkbox")
            span.toggle-button__slider