include ../like-button/like-button

mixin visitor-review (modifier, img, name, date, quantity, text)
    .visitor-review__user
            img(src= img alt = "аватарка").visitor-review__img
            .wrapper__user-info
                .visitor-review__user-name= name
                .visitor-review__user-date= date
    .visitor-review__comment
        .visitor-review__comment-like-button
            +like-button(modifier, quantity)
        .visitor-review__comment-text= text
    