mixin footer-medium
    .footer-medium
        img(height="40px" alt="логотип" src = "images/logo-toxin.png")
        p.footer-medium__text.
            Copyright &copy; 2018 Toxin отель. Все права защищены.
        .footer-medium__icons
            a(href = "changeMe")
                img(src="images/t.png" alt = "твиттер").footer-medium__icon
            a(href = "changeMe")
                img(src="images/f.png" alt = "фейсбук").footer-medium__icon
            a(href = "changeMe")
                img(src="images/i.png" alt = "инстаграмм").footer-medium__icon