mixin footer-medium
    - var classMod = attributes.modifiers ? "footer-medium " + attributes.modifiers : "footer-medium"
    div(class = classMod)
        .wrapper-footer-medium-content
            +logo-toxin(modifiers = "logo-toxin_static")
            p. 
                Copyrigth &copy; 2018 Toxin отель. Все права защищены.
            .footer-small__icons
                img(src="images/t.png")
                img(src="images/f.png")
                img(src="images/i.png")