.footer-medium {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 120px 0 110px 0;
  font-size: 14px;
  line-height: 17px;
  color: $dark75;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $dark05; 
  border-top: 1px solid $dark10;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 1200px) {
    display: flex;
  }

  &__text {
    margin: 20px 0 17px 0;
    text-align: center;
  }

  &__icon {
    margin: 10px;
  }
}






