include ../socials/socials
include ../copyright/copyright

mixin footer-medium
    -
        var blockClass = "footer-medium"
        if (attributes.type === "for ui-kit")
            blockClass += " footer-medium_displayed"
    div(class = blockClass)
        img(height="40px" alt="логотип" src = "images/logo-toxin.png").footer-medium__image
        .footer-medium__copyright
            +copyright
        +socials