.content-landing-page {
	margin: 0 auto;
	max-width: 1440px;
	height: 760px;
	background: no-repeat url("images/landingpage-bg.jpg");
	padding-top: 70px;	
}

.phrase-of-day {
	width: 297px;
	position: absolute;
	text-align: right;
	left: 1008px;
	top: 830px;	
	font-size: 14px;
	line-height: 24px;
	@media (max-width: 1400px) {
		left: 500px;
	}
	@media (max-width: 950px) {
		display: none;
	}
}
