extends template.pug
include blocks/datepicker-2f/datepicker-2f
include blocks/dropdown/dropdown
include blocks/appartments-finder/appartments-finder
include blocks/button-with-arrow/button-with-arrow
block content
    .content-landing-page
        +appartments-finder
        .phrase-of-day= "Лучшие номера для вашей работы, отдыха и просто вдохновения"        




