@import "./blocks/info-appartment/info-appartment.scss";
@import './blocks/visitor-review/visitor-review.scss';

.content-room-details {
    margin-top: 70px;
}
.wrapper-info-appartment {
    width: 280px;
}
.wrapper-info-appartment {
    width: 710px;
}