extends template.pug
include blocks/info-appartment/info-appartment
include blocks/visitor-review/visitor-review
include blocks/pie-chart/pie-chart
include blocks/pie-chart-legend/pie-chart-legend
block content
    - var text1 = "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару – никто не жаловался из соседей."
    - var text2 = "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую закать, каждый день новое блюдо и десерт как комплимент."
    .content-room-details
        .wrapper-info-appartment
            h2 Сведения о номере
            +info-appartment("", "insert_emoticon", "Комфорт", "Шумопоглащающие стены")
            +info-appartment("_border", "location_city", "Удобство", "Окно в каждой из спален")
            +info-appartment("", "whatshot", "Уют", "Номер оснащен камином")
        .wrapper-info-appartment
            +visitor-review ("_active", "images/users/1.png", "Мурад Сарафанов", "5 дней назад", "12", text1)
            +visitor-review ("", "images/users/2.png", "Патрисия Стёклышкова", "Неделю назад", "2", text2)
        +pie-chart(25, 25, 50)
        +pie-chart-legend
            




