@import "./blocks/info-appartment/info-appartment.scss";
@import './blocks/visitor-review/visitor-review.scss';
@import './blocks/pie-chart/pie-chart.scss';
@import './blocks/pie-chart-legend/pie-chart-legend.scss';
@import './blocks/appartments-finder-check/appartments-finder-check.scss';


.content-room-details {
    max-width: 1440px;
    margin: 70px auto 0 auto;
    color: $dark75;
}

.wrapper-fotos {    
    display: flex;
    margin-bottom: 71px;
}
.wrapper-fotos__left {
    max-height: 485px;
}
.wrapper-fotos__left img {
    max-width: 100%;
}
.wrapper-fotos__right {
    max-height: 485px;
    display: flex;
    flex-direction: column;
}
.wrapper-fotos__right img {
    max-width: 100%;
}

//--------INFO---------------- 
.wrapper-info {        
    display: flex;
    justify-content: space-between;        
}
//--------LEFT-COL--------------------   
    .wrapper-info__left {
    max-width: 710px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px 0 140px;
}
//--------INFO-APPARTMENT--------------------        
.wrapper-info-appartment {
    width: 280px;
}

//--------PIE_CHART--------------------    
.wrapper-pie-chart {
    width: 315px;
    margin-right: 39px;
}
.wrapper-pie-chart__graph {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
}
.wrapper-pie-chart__graph-legend {
    margin-bottom: 3px;
}
.wrapper-pie-chart h2 {
    margin: 0 0 15px 5px;
}

//--------REVIEWS--------------------
.wrapper-reviews-title {
    display: flex;
    justify-content: space-between;
    font: $font-body;
    margin: 13px 0 17px 5px;
}    
.wrapper-reviews {
    margin-left: -5px;
}
.wrapper-reviews span {
    color: $dark50;
}
//--------ADDITIONAL--------------------
.wrapper-additional {
    max-width: 710px;
    margin: 13px 0 68px 0;
    font: $font-body;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}        

//--------RULES--------------------
.wrapper-rules {
    width: 260px;
}
.wrapper-rules h2 {
    margin: 0 0 11px 19px;
}            
.wrapper-rules ul {                           
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.wrapper-rules ul li {
    display: flex;
    margin: 5px 0;
    //flex-direction: column;
}
.wrapper-rules li::before {
    flex-shrink: 0;
    display: inline-block;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $dark25;
    margin: 7px 10px 0 0;
}

    //--------CANCEL--------------------
.wrapper-cancel {
    width: 340px;
    margin-left: 101px;
}
.wrapper-cancel h2 {
    margin-bottom: 16px;
}

.wrapper-info__right {
    margin-right: 140px;
}

//------------------------------
//---------------MEDIA----------
//------------------------------
@media (max-width: 1400px) {
    .wrapper-info__left {
        margin: 0 20px;
    }
    .wrapper-info__right {
        margin: 0 20px;
    }
}
@media (max-width: 1160px) {
    .wrapper-info {
        flex-direction: column;
    }
    .wrapper-info__left {
        margin: 0 auto;
        padding: 0 20px;
    }
    .wrapper-info__right {
        margin: 0 auto;
    }
}
@media (max-width: 750px) {
    .wrapper-additional {
        flex-direction: column;
        margin: 13px auto;
    }
    .wrapper-rules, .wrapper-cancel {
        margin: 0 auto;
    }
    .wrapper-rules h2, .wrapper-cancel h2 {
        text-align: center;
        margin: 10px auto;
    }
    .wrapper-info__left {
        flex-direction: column;
    }
    .wrapper-info-appartment, .wrapper-pie-chart {
        margin: 0 auto;
    }
}
@media (max-width: 450px) {
    .wrapper-reviews-title span {
        display: none;
    }
}
@media (max-width: 385px) {
    .wrapper-info__left {
        width: 300px;
        padding: 0 10px;
    }
    .wrapper-cancel {
        width: 300px;
        margin: 0 auto;
    }
    .wrapper-reviews {
        width: 300px;
        margin: 0 auto;
    }
    .wrapper-pie-chart {
        width: 300px;
    }
    .appartments-finder-check {
        box-sizing: border-box;
        width: 320px;
        height: 480px;
        padding: 10px;
        margin: 0 auto;

        .datepicker-2f, .dropdown {
            width: 300px;
        }
        .appartments-finder-check__total__dot-line {
            width: 160px;
        }
        .button-with-arrow {
            box-sizing: border-box;
            width: 300px;
        }
        .dropdown__ul {
            width: 300px;
        }
        .dropdown li {
            width: 292px;
        }
        .dropdown__item {
            width: 175px;
        }
        .dropdown__buttons {
            width: 300px;
        }
    }
}



