.content-ui-form-elements {
    margin: 143px 140px 140px 140px;
    display: flex;    

    .left-col {
        width: 320px;
    }
    .wrapper-text-field {
        margin-bottom: 15px;
    }
    .wrapper-title-text-field {
        display: flex;
        justify-content: space-between;
    }
    .text-field_hover {
        border: 1px solid $dark50;
    }
    .h3-grey {
        color: $dark50;
        font-family: "Montserrat";
    }
    .wrapper-dropdown-guests {
        margin-bottom: 24px;
    }   
    .wrapper-dropdown-guests .dropdown {
        padding: 0;
        margin-bottom: 23px;
    }
    .wrapper-dropdown-guests .dropdown__buttons {
        top: 175px;
    }
    .wrapper-datepicker-2f {
        margin: 35px 0 42px 0;        
    }
    .wrapper-footer-large__inf-elem-email {
        width: 267px;
        margin: 41px 0 79px 0;   
    }
    .wrapper-footer-large__inf-elem-email h3 {
        margin-bottom: 4px;
    }
    .wrapper-more-options_collapsed {
        margin: 30px 0 0 0;
    }
    .appartment-form__wrapper-checkbox-item__more-options {
        width: 266px;
    }
    .wrapper-more-options {
        margin: 19px 0 0 0;
    }
    .wrapper-more-options .appartment-form__checkboxes {
        margin-top: 8px;
    }
    .wrapper-info-appartment {
        margin-top: 17px;
    }
    
    
    //--------------------middle-col-------------


    .middle-right-col {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;             
    }

    .middle-col {
        margin-left: 127px;
    }
    .wrapper-radio-buttons-block {
        margin-top: 37px;
    }
    .wrapper-radio-buttons {
        margin-top: 13px;
        display: flex;
    }
    .wrapper-toggle-buttons-block {
        margin-top: 39px;
    }
    .wrapper-toggle-button {
        margin-bottom: 10px;
    }
    .wrapper-toggle-buttons-block h3 {
        margin-bottom: 13px;
    }
    .wrapper-like-buttons-block {
        margin: 44px 0 0 0;
    }
    .wrapper-like-button {
        display: flex;
    }
    .wrapper-like-buttons-block h3 {
        margin-bottom: 16px;
    }
    .like-button {
        margin-right: 10px;
    }
    .wrapper-stars-block {
        margin-top: 40px;
    }
    .stars-block {
        margin-top: 16px;
        display: flex;
    }
    .stars {
        margin-right: 20px;
    }
    .wrapper-dropdown-guests_expanded {
        margin-top: 176px;
    }
    .wrapper-rich-checkbox-buttons {
        margin-top: 257px;
    }
    //--------------------right-col-------------
    .right-col {
        width: 267px;
        margin: -30px 0 0 71px;
    }
    .wrapper-buttons {
        margin-top: 42px;
    }
    .wrapper-buttons-row {
        margin: 16px 0 29px 0;
        display: flex;
    }
    .navbar__button {
        margin-right: 20px;
    }
    .wrapper-button-hover {
        opacity: 0.5;
    }
    .wrapper-buttons-row-violet .navbar__button{
        width: 99px;
        height: 44px;
    }
    .button-without {
        color: $purple;
        margin: 3px 22px 0 0;
    }
    .button-without:hover {
        color: $dark50;
    }
    .button-without_hover {
        color: $dark50;
    }
    .wrapper-button-with-arrow {
        margin: 1px 0 0 2px;
    }
    .wrapper-pagination {
        margin: 41px 0 0 2px;
    }
    .wrapper-pagination .search-room__pages {
        margin: 16px 0 0 0px;
        justify-content: left;
    }
    .wrapper-pagination .search-room__pages-comment {
        margin-left: 5px;
    }
    .wrapper-dropdown-guests_expanded_2 {
        margin-top: 213px;
    }
    .wrapper-bullet-list {
        margin: 257px 0 0 0;
    }
    .wrapper-rules ul{
        margin: 8px 0 0 1px;
    }
    .wrapper-reviews {
        width: 710px;
        margin: 129px 0 0 124px; 
    }
    .wrapper-reviews .visitor-review__comment__wrapper-like-button {
        margin-right: 5px;
    }
}

    
    
    
    
    




