@import "blocks/footer-medium/footer-medium";

.content-headers_and_footers {
    background: #EFEFEF;
    .wrapper-empty {
        height: 140px;
    }    
    .wrapper-navbar2 {
        margin-top: 40px;
        .navbar .button {
            display: none;
        }
        .navbar__sign-in {
            display: flex;
        }
        .navbar__buttons {
            margin-right: 90px;
        }
    }
    
    .wrapper-footer-large {
        margin-top: 40px;
    }
    .wrapper-footer-medium {
        margin-top: 40px;
        .footer-medium {
            display: flex;
            width: 768px;
        }
    }
}