.like-button {
    width: 40px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid $dark25;
    border-radius: 10px;
    color: $dark25;
    font: 10px/12px 'Montserrat';
}
.like-button span {
    width: 20px;
    height: 18px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;    
}

/*-----------------------------------------
---------MODIFIER: _active -----------
------------------------------------------*/
.like-button_active {
    border: 1px solid $purple;
    color: $purple;
}
.like-button_active span {
    color: $purple;   
}