mixin like-button (modifier, quantity)
    -
        let classMod = "like-button"
        if (modifier == "_active") {
            classMod += " like-button_active"
        }
    div(class = classMod)
        if (modifier == "_active")
            span.material-icons= "favorite"
            = quantity
        else 
            span.material-icons= "favorite_border"
            = quantity
