mixin navbar__button(text, modifier="")
    -
        let classDef = "navbar__button"
        let classMod = modifier != "" ? classDef + " " + classDef + modifier : classDef
    div(class = classMod)
        =text