.navbar__sign-in {
    width: 150px;
    height: 30px;
    padding-left: 20px;
    margin-left: -9px;
    border-left: 1px solid $dark10;
    color: $dark50;
    font: 14px/17px "Montserrat";
    display: flex;
    align-items: center;
}