mixin footer-large__inf-elem-subcribe
    .footer-large__inf-elem-subcribe
        +footer-large__inf-elem-list("Подписка", ["Получайте специальные предложения и новости сервиса"])(class = "footer-large__inf-elem-list_width260px")
        +footer-large__inf-elem-email