mixin footer-large__inf-elem-subcribe
    .footer-large__inf-elem-subcribe
        .footer-large__inf-elem-list.footer-large__inf-elem-list_width260px
            ul
                li.footer-large__inf-elem-list__title= "Подписка"                
                li= "Получайте специальные предложения и новости сервиса"
        +footer-large__inf-elem-email
        