.appartment-card__img-spot {
  box-sizing: border-box;    
  margin: 2px;
  padding: 0;
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-radius: 50%;
  background: transparent;
}